*{
    font-family: sans-serif;
}
body{
background: rgb(173 216 230);

}
.div-box-5{
    background: #fff;
    width: 650px;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgb(62, 62, 255);
    padding: 10px;
    float: left;
    margin: 10px 30px;

}
.img-5{
    float: right;
}

.menu-5 h1 {
    border-bottom: 5px solid red;
    width: 120px;
margin: 2   0px auto;}
.menu-5{
    width: 150px;
    height: 250px;
    background: white;
    float: left;
    border-radius: 10px;
    border: 1px solid rgb(62, 62, 255);
    padding: 10px;
    margin: 10px 30px 0px 30px;
}

.footer-5{
    width: 650px;
    height: 20px;
    padding: 10px;
    background-color: #000;
    margin: 10px auto;
    float: left;
    margin: 10px 30px;
    margin: 10px 30px 10px 265px;
    border: 2px solid #fff;
    border-radius: 0 50px 50px 0;
}

.footer-5 p{
    color: white;
    font-weight: 900;
    float: right;

    margin: 3px 10px;
}


.a{

    text-decoration: none;
    color: white;
    background-color: #0059ff;
    padding: 7px 50px ;
    border-radius: 1px;
    position: absolute;
    right: 0px;
    top: 0;
    margin: 30px 30px;
   }
   .a:hover{
       background-color: #2e97ff;
   
   }
   .a:active{
       background-color: #0065ca;
   
   }
