@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Fira sans',sans-serif;
}

body{
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.box{
    margin: 50px 0;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.199);
    box-sizing: border-box;
    padding: 10px;

}

h1{
    text-decoration: underline;
    margin: 10px 0;
}

p{
    margin: 5px 0;
}

