*{
    font-family: sans-serif;
}
body{
background: rgb(173 216 230);

}

#contenedor{
    width: 700px;
    height: 550px;
    background: #fff;
    margin: 5% auto;
}
.cabecera{
    width: auto;
    height: 20px;
    background-color: rgb(170 187 170);
}
#menu{
    width: 180px;
    height: 462px;
    background: rgb(255, 255, 255);
    float: left;
    padding: 50px 0px 0px 10px;
}

.pie{
    clear: both;
    background-color:rgb(170 187 170);
}

#menu a{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    border: 0px;
    
    border-bottom: 1px solid red;
    border-style: dotted;
    
}


.img-5{
    float: left;
    margin: 0px 10px 10px 0px;
}
.p-1-5{
    margin: 0px 0 0 0;
}


.contenido{
    width: 510px;
    height: 512px;
    background: red;
    float: left;
}

.principal{
    width: 380px;
    height: 512px;
    background-color: rgb(255, 255, 255);
    float: left;
}

.secundario{
    width: 130px;
    height: 512px;

    background-color: rgb(255, 255, 255);
    float: left;

}
.anuncio{
    width: 110px;
    height: 100px;
    padding: 35px 5px 0px 5px;
    margin: 50% auto;
    background: rgb(78 182 195);
    color: #fff;
    border-radius: 15px;
    text-align: center;
    border: 0px;
    border-bottom: 15px solid rgba(0, 104, 104, 0.548);
}
.a{

    text-decoration: none;
    color: white;
    background-color: #0059ff;
    padding: 7px 50px ;
    border-radius: 1px;
    position: absolute;
    right: 0px;
    top: 0;
    margin: 30px 30px;
   }
   .a:hover{
       background-color: #2e97ff;
   
   }
   .a:active{
       background-color: #0065ca;
   
   }
.xd{
    width: 300px;
    height: 300px;
    overflow: auto;
    margin: 10% auto;
    box-shadow: 0 0 50px 0;
}

.piepie{
    width: 100%;
    height: 20px;

    background: black;
    color: white;
    position: fixed;
    bottom: 0px;
}
.piepie p{
    float: right;
}